* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  height: 10vh;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
}
.logo {
  height: 110px;
  width: 100px;
  padding: 35px 0;
}
.links ul {
  display: flex;
  align-items: center;
}
.links ul li {
  padding: 0 20px;
}
.links ul li a {
  text-decoration: none;
  color: #333;
}
.links select {
  border: none;
}
.bell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bell i {
  padding: 0 15px;
}
.person {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 1px 5px rgba(104, 104, 104, 0.7);
}
.dropdown input {
  padding: 6px 0;
  border: none;
  color: #f1f1f1;
  margin-left: 10px;
}
.dropdown input:focus {
  outline: none;
}
.dropdown i {
  padding: 0 !important;
  color: #f1f1f1;
  margin-left: -30px;
}
.contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border: 1px solid lightgrey;
  height: 100%;
}

.contact {
  height: 800px;
}
.contact-img {
  background-image: url(./callcenter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.contact-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(19, 201, 13, 0.699);
}
.contact-img > * {
  color: #fff;
  position: relative;
  padding: 30px;
  text-align: center;
}
.contact input {
  width: 100%;
  padding: 16px 8px;
  border: 1px solid lightgrey;
}
.contact input:focus,
textarea:focus {
  outline: none;
}
.contact input,
textarea {
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact form,
.contact-info {
  padding: 2rem 1.5rem;
}

.mess {
  display: flex;
  flex-direction: column;
}
.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.mess textarea {
  height: 150px;
  padding: 1rem;
}
.btn-faith {
  margin: 18px 0;
  cursor: pointer;
  border: none;
  background: limegreen;
  padding: 0.8rem 1.3rem;
  color: #fff;
}
.btn-faith:hover {
  background: green;
}
.contact-info i {
  margin-right: 10px;
}
.contact-info p {
  margin: 15px 0;
}
.d-non {
  display: none;
}
@media screen and (max-width: 700px) {
  .bell {
    display: flex;
    align-items: center;
  }
  .d-none {
    display: none;
  }
  .d-non {
    display: block;
  }
  .contact-content {
    grid-template-columns: 1fr;
  }
  .links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
  }
  .links li select {
    margin-left: 10px;
    font-weight: bold;
  }
  .links {
    padding: 80px 100px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(50, 205, 50, 0.6);
    z-index: 900;
    transition: 0.4s all ease;
  }
  .links ul li a {
    color: #fff;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  .links ul li {
    padding: 10px;
  }
  .links.active {
    right: 0;
  }
  .btn-faith {
    width: 100%;
  }
  #bars {
    position: relative;
    z-index: 10000;
  }
  .contact-info {
    padding-bottom: 15px;
  }
}
